.item {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  width: 80%;
  opacity: .5;

  &.banned {
    transform: rotate(180deg);
  }

  &.selected {
    opacity: 1;
  }
}

.itemList {
  width: min-content;
  display: grid;
  grid-template-columns: repeat(7, 10em);
  grid-template-rows: repeat(3, 10em);
  gap: 1em;
  position: relative;
}

.itemContainer {
  background-color: white;
  box-shadow: 0 0 1px 1px black;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  place-items: center;
  place-content: center;
  padding: .5em;
  aspect-ratio: 1 / 1;
  background-color: oklch(.4 .05 310);
  width: 100%;

  &:has(.selected) {
    background-color: white;
    box-shadow: none;
  }

  &:has(.banned) {
    background-color: oklch(.2 .1 10);
  }
}

.randomizerContainer {
  padding: 2em;
  border-radius: 2em;
  height: min-content;
  aspect-ratio: 5 / 7;

  button {
    font-size: 2em;
    margin: 2em;
    background-color: oklch(.75 .2 180);
    box-shadow: 0 0 1px black;
  }
}