#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;

  font-size: 1.1vw;
  position: relative;
  display: flex;
  justify-content: center;

}

@media (min-aspect-ratio: 14 / 9) {
  #root {
    font-size: 1.7vh;
  }
}